<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                    data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand">车辆管理系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout/">注销</a></li>
        </ul>
    </div>
</nav>